<div class='jumbotron'>
<h2>About Me</h2>
<p> My name is Mike Cerrrone and I am a first time web developer excited to recreate one of the internets most popular applications, PINTEREST. I actually have never used Pinterest and thought that it would be the perfect first project! Hold on to your hats because there's going to be a lot of learning going on! </p>